<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/jquery-ui.css")
        link(rel="stylesheet", href="css/fontawesome.css")
    body
        .content
            .product-card-list
                section.product-card

                    div.product-card-pictures
                        .add-to-fav(title="Добавить в избранное")
                            span Добавить в избранное

                        a(href="/product/A089212")
                            img.img-responsive(alt="FENDER SQUIER MM STRATOCASTER HARD TAIL BLACK" title="FENDER SQUIER MM STRATOCASTER HARD TAIL BLACK" src="https://www.muztorg.ru/files/sized/f250x250/212/4a3/aqo/x5w/4kg/gks/0gg/sgo/w/2124a3aqox5w4kggks0ggsgow.jpg")

                    .product-icons
                        .product-icon.product-icon-hit хит
                        .product-icon.product-icon-instal 0-0-24
                        .product-icon.product-icon-arenda + В аренду

                    .product-weight
                        span Вес:
                        .product-weight-item.product-weight-item-1 10010789
                        .product-weight-item.product-weight-item-2 0
                        .product-weight-item.product-weight-item-3 0

                    .product-card-caption
                        .product-catalog-grid
                            a(href="/category/elektrogitary") Электрогитары
                        .product-header
                            .title
                                a(href="/product/A089212") FENDER SQUIER MM STRATOCASTER HARD TAIL BLACK
                        .product-existence
                            .available-now(data-toggle="tooltip" data-placement="auto" data-original-title="Товар есть в вашем регионе или на центральном складе" title="")
                                | В наличии&nbsp;
                                i.fa.fa-question-circle
                        .product_offer
                            .product-price
                                .price 12&nbsp;400&nbsp;
                                    span.rub р.
                                .old-price-with-discount
                                .product-discount
                            .product-add-bonus-place
                                | до&nbsp;
                                span.product-add-bonus 620
                                | &nbsp;бонусов
                                a(href="#ModalBonus" data-toggle="modal" data-target="#ModalBonus")
                                i.fa.fa-question-circle
                        .product-thumb-nav
                            .product-button
                                a.btn.product-buy.btn-orange
                                    img(src="https://www.muztorg.ru/img/interface/icon_cart_w.svg" alt="Купить")
                                    span В корзину
                                a.btn.product-arenda.btn-yellow-border
                                    span Оформить аренду
                            .product-badge
                                .product-installment-plan
                                    | В рассрочку
                                    span 517&nbsp;руб./мес


                section.product-card
                    div.product-card-pictures
                        .add-to-fav active(title="Добавить в избранное")
                            span Добавить в избранное

                        a(href="/product/A089212")
                            img.img-responsive(alt="YAMAHA C40" title="YAMAHA C40" src="https://www.muztorg.ru/files/sized/f250x250/96h/q5c/zvf/sgs/kgk/8co/kgk/40k/8/96hq5czvfsgskgk8cokgk40k8.jpg")

                    .product-icons
                        .product-icon.product-icon-price-down Цена снижена!
                        .product-icon.product-icon-hit хит
                        .product-icon.product-icon-instal 0-0-24
                        .product-icon.product-icon-arenda + В аренду

                    .product-weight
                        span Вес:
                        .product-weight-item.product-weight-item-1 10010789
                        .product-weight-item.product-weight-item-2 0
                        .product-weight-item.product-weight-item-3 0

                    .product-card-caption
                        .product-catalog-grid
                            a(href="/category/elektrogitary") Классические гитары
                        .product-header
                            .title
                                a(href="/product/A089212") YAMAHA C40
                        .product-existence
                            .available-now(data-toggle="tooltip" data-placement="auto" data-original-title="Товар есть в вашем регионе или на центральном складе" title="")
                                | В наличии&nbsp;
                                i.fa.fa-question-circle
                        .product_offer
                            .product-price
                                .price 9&nbsp;990&nbsp;
                                    span.rub р.
                                .old-price-with-discount
                                .product-discount
                            .product-add-bonus-place
                                | до&nbsp;
                                span.product-add-bonus 833
                                | &nbsp;бонусов
                                a(href="#ModalBonus" data-toggle="modal" data-target="#ModalBonus")
                                i.fa.fa-question-circle

                        .product-thumb-nav
                            .product-button
                                a.btn.product-buy.btn-orange
                                    img(src="https://www.muztorg.ru/img/interface/icon_cart_w.svg" alt="Купить")
                                    | В корзину
                                a.btn.product-arenda.btn-yellow-border
                                    span Оформить аренду

                            .product-badge
                                .product-installment-plan
                                    | В рассрочку
                                    span 517&nbsp;руб./мес

                section.product-card
                    div.product-card-pictures
                        .add-to-fav(title="Добавить в избранное")
                            span Добавить в избранное

                        a(href="/product/A089212")
                            img.img-responsive(alt="FOCUSRITE SCARLETT 2I2 3RD GEN" title="FOCUSRITE SCARLETT 2I2 3RD GEN" src="https://www.muztorg.ru/files/sized/f250x250/4wv/iwx/0fd/6o0/4kc/gsg/w4w/40w/o/4wviwx0fd6o04kcgsgw4w40wo.jpg")

                    .product-icons
                        .product-icon.product-icon-hit хит
                        .product-icon.product-icon-instal 0-0-24
                        .product-icon.product-icon-arenda + В аренду

                    .product-weight
                        span Вес:
                        .product-weight-item.product-weight-item-1 10010789
                        .product-weight-item.product-weight-item-2 0
                        .product-weight-item.product-weight-item-3 0


                    .product-card-caption
                        .product-catalog-grid
                            a(href="/category/elektrogitary") Звуковые карты
                        .product-header
                            .title
                                a(href="/product/A089212") FOCUSRITE SCARLETT 2I2 3RD GEN
                        .product-existence
                            .available-now(data-toggle="tooltip" data-placement="auto" data-original-title="Товар есть в вашем регионе или на центральном складе" title="")
                                | В наличии&nbsp;
                                i.fa.fa-question-circle
                        .product_offer
                            .product-price
                                .price 13&nbsp;600&nbsp;
                                    span.rub р.
                                .old-price-with-discount
                                .product-discount
                            .product-add-bonus-place
                                | до&nbsp;
                                span.product-add-bonus 680
                                | &nbsp;бонусов
                                a(href="#ModalBonus" data-toggle="modal" data-target="#ModalBonus")
                                i.fa.fa-question-circle
                        .product-thumb-nav
                            .product-button
                                a.btn.product-buy.btn-orange
                                    img(src="https://www.muztorg.ru/img/interface/icon_cart_w.svg" alt="Купить")
                                    | В корзину
                                a.btn.product-arenda.btn-yellow-border
                                    span Оформить аренду

                            .product-badge
                                .product-installment-plan
                                    | В рассрочку
                                    span 567&nbsp;руб./мес
        .overlay_popup
        .popup-add-bonus-place.popup
            .object 123

        script(src="js/libs.min.js")
        script(src="js/main.js")